.idea/
.vscode/
.gradle/
**/build/
**/run/
**/out/
*.class
*.jar
__pycache__/
!**/gradle/wrapper/gradle-wrapper.jar
Thumbs.db
.DS_Store

Client/JustEnoughMods/mods/
Client/JustEnoughMods/resourcepacks/
Client/JustEnoughMods/shaderpacks/
Client/JustEnoughMods/saves/
Client/JustEnoughMods/jem-pack/manifest.json
Client/JustEnoughMods/JustEnoughMods.jar
Client/JustEnoughMods/JustEnoughMods.json
Client/JustEnoughMods/TLauncherAdditional.json
Client/JustEnoughMods/options.txt
Client/JustEnoughMods.zip

Server/.mixin.out/
Server/.playwright-mcp/
Server/crash-reports/
Server/logs/
Server/modernfix/
Server/world/
Server/world-*/
Server/libraries/
Server/mods/
Server/disabled_mods/
Server/local/
Server/moonlight_global_datapacks/
Server/moonlight-global-datapacks/
Server/pinterest_builds_temp/
Server/automodpack/credentials/
Server/automodpack/host-modpack/
Server/automodpack/server/
Server/banned-ips.json
Server/banned-players.json
Server/eula.txt
Server/ops.json
Server/server.properties
Server/usercache.json
Server/usernamecache.json
Server/whitelist.json
Server/config/fiw-mods-api/

JustEnoughMods-updates/
*.log
*.zip


